version: "3.9"

services:
  web:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - mongo
    volumes:
      - .:/app
    command: python manage.py runserver 0.0.0.0:8000

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
